<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true" internalLogLevel="Error" internalLogFile="c:\path_to_file\response.txt">

    <targets>
        <target name="logfile" xsi:type="File" fileName="response.txt" />
    </targets>

    <rules>
        <logger name="fileLogger" level="Info" writeTo="logfile" />
        <logger name="fileLogger" level="Debug" writeTo="logfile" />
    </rules>
</nlog>